<div class="createWalletArea checkered">
	<a href="javascript://" class="showModal activate-buttons activate-buttons-outside" rel="uploadPhotos?wallet=outside&amp;draft_id=134243&amp;action=%2Fcreate%2Fcreate%2F" title="Outside panel. Click to upload an image here.">
	<img src="/custom/images/pod/stepOne.png" class="walletStepOne">
	<img src="/custom/images/pod/clickHere.png" class="walletClickHere">
	
	<div class="outside-area">
	<div class="walletPaneLeft front">
	</div>
	<div class="walletPaneRight front">
	</div>
	</div>
	</a>
</div>